<h1>View Article</h1>

<p>Article Title</p>
<%= @article.title %>

<p>Article Body</p>
<%= @article.body %>
<br>
<%= link_to "Delete", article_path(@article), method: :delete %>
<%= link_to "<< Back to Articles List", articles_path %>
